FORMAT: X-1A
HOST: http://0xdata.com/

# H2O REST API - parser
Documentation of H2O REST API.

## First class entities (resources)

H2O provides three 
  - Frame
  - Job
  - Model

## List URIs [/v2/list_uri.json{?uri,exclude_filter,exclude_list}]

+ Parameters
  + uri (string,required) ... uri of data source
  + exclude_filter (string, optional) ... exclude files by regexp
  + exclude_list (string, optional) ... explicit list of excluded files

### Retrieve [GET]
+ Response 200 (application/json)
        
        { 
            "files" : [ 
                "hdfs://192.168.1.161/home-0xdiag-datasets/file_1.dat.gz",
                "hdfs://192.168.1.161/home-0xdiag-datasets/file_2.dat.gz"
            ],
            "exluded_files" : [
                "hdfs://192.168.1.161/home-0xdiag-datasets/_SUCCESS",
                "hdfs://192.168.1.161/home-0xdiag-datasets/_FAILED"
            ]
        }

## Parse preview [/v2/parse_preview.json]

+ Parameters
  + list (string,required) ... list of files
  + parser_type (string,optional) ... required data parser (CSV,SVMLight,XLS). 
  + separator (string,optional) ... data separator.
  + header (string, optional) ... list of column names

### Retrieve [GET]
+ Response 200 (application/json)

        {
            "parser_type" : "CSV",
            "separator"   : ",",
            "header"      : [ "sepal_len","sepal_wid","petal_len","petal_wid","class" ],
    
        }

## List available resources [/v2/storeview.json]

### Retrieve [GET]
+ Response 200 (application/json)

        { "resources" : [ {
                "type": "model",
                "name": "gbm_model",
                "uri": "..."
            }, {
                "type": "frame",
                "name": "iris_train.hex",
                "uri":  "..."
            }
          ]
        }

## Inspect a resource [/v2/inspect.json{?src,offset,limit,cols}]
The following section describes Inspect REST call.

+ Parameters
  + src (string,required) ... name of H2O resource
  + offset (number,optional) ... offset of the first required row
  + limit (number,optional) ... number of rows to retrieve
  + cols (string,optional) ... columns selector

### Retrieve [GET]
+ Response 200 (application/json)

        { "src" : "iris_train.hex",
          "type" : "frame",
          "offset" : 0,
          "limit"  : 100,
          "nrows"  : 150,
          "ncols"  : 5,
          "rows"   : 3,
        }
        
## Inspect a java [/v2/inspect.java{?src}]
Retrieve a H2O resource as a Java program.

+ Parameters
   + src (string,required) ... name of H2O resource
   
### Retrieve [GET]
+ Response 200 (plain/text)

        class Iris {
        }


        
  
